<ion-view view-title="Connect with Us">
	<ion-content>
		<div class="card">
			<div class="item item-text-wrap">
				<center>
					<strong>
					In case of an emergency, call 911!
					</strong>
				</center>
			</div>
		</div>
		<a href="http://www.wvc-ut.gov/26/Fire-Department">
			<div class="card">
				<div class="item item-text-wrap">
					<center>
						<i class="icon ion-earth" style="font-size:5em;"></i>
						<br>Website
					</center>
				</div>
			</div>
		</a>
		<a href="http://www.facebook.com/WestValleyCityFire">
			<div class="card">
				<div class="item item-text-wrap">
					<center>
						<i class="icon ion-social-facebook" style="font-size:5em;"></i>
						<br>Facebook
					</center>
				</div>
			</div>
		</a>
		<a href="http://www.twitter.com/wvcfire">
			<div class="card">
				<div class="item item-text-wrap">
					<center>
						<i class="icon ion-social-twitter" style="font-size:5em;"></i>
						<br>Twitter
					</center>
				</div>
			</div>
		</a>
		<div class="card">
			<div class="item item-text-wrap">
				<center>
					Questions or Comments
					<br>
					801-963-3336
				</center>
			</div>
		</div>
	</ion-content>
</ion-view>
