<ion-view view-title="Preparing for Disasters">
	<ion-content>
		<a href="http://marketing.mediaoneutah.com/uploads/d44322742fa12ee6f0e0be039794d797EmergencyPreparedness081611.pdf" style="text-decoration: none;">
			<div class="card">
				<div class="item item-text-wrap">
					<center style="font-size: 1.5em;">
						Guide to Personal and Family Preparedness
					</center>
				</div>
			</div>
		</a>
		<a href="http://utah.gov/beready/family/documents/Family-Communication-PlanWalletCard.pdf" style="text-decoration: none;">
			<div class="card">
				<div class="item item-text-wrap">
					<center style="font-size: 1.5em;">
						Family Communication Plan
					</center>
				</div>
			</div>
		</a>
		<a href="http://www.utah.gov/beready/family/documents/72-hourchecklist.pdf" style="text-decoration: none;">
			<div class="card">
				<div class="item item-text-wrap">
					<center style="font-size: 1.5em;">
						72-hour Kit Checklist
					</center>
				</div>
			</div>
		</a>
		<a href="http://ussc.utah.gov/publications/roots_earthquake.pdf" style="text-decoration: none;">
			<div class="card">
				<div class="item item-text-wrap">
					<center style="font-size: 1.5em;">
						Earthquake Preparedness Guide
					</center>
				</div>
			</div>
		</a>
		<a href="http://utah.gov/beready/family/documents/FloodsWhatYouShouldKnow.pdf" style="text-decoration: none;">
			<div class="card">
				<div class="item item-text-wrap">
					<center style="font-size: 1.5em;">
						Floods: What you should Know
					</center>
				</div>
			</div>
		</a>
		<a href="http://utah.gov/beready/documents/HazardsHandbookDraft8.pdf" style="text-decoration: none;">
			<div class="card">
				<div class="item item-text-wrap">
					<center style="font-size: 1.5em;">
						Utah Natural Hazards Handbook
					</center>
				</div>
			</div>
		</a>
	</ion-content>
</ion-view>
