<ion-view view-title="Additional Information">
	<ion-content>
		<a href="http://www.redcross.org">
			<div class="card">
				<div class="item item-text-wrap">
					<center>
						<img src="/img/redcross.png" style="width:50%">
					</center>
				</div>
			</div>
		</a>
		<a href="http://www.fema.gov">
			<div class="card">
				<div class="item item-text-wrap">
					<center>
						<img src="/img/fema.png" style="width:50%">
					</center>
				</div>
			</div>
		</a>
		<a href="http://www.weather.com/weather/today/l/USUT0324:1:US" style="text-decoration: none;">
			<div class="card">
				<div class="item item-text-wrap">
					<center>
						<span style="font-size: 2em;">Current Weather</span>
					</center>
				</div>
			</div>
		</a>
	</ion-content>
</ion-view>
