<ion-view view-title="Fire Safety Materials">
	<ion-content>
		<a href="http://www.wvc-ut.gov/DocumentCenter/Home/View/2229" style="text-decoration: none;">
			<div class="card">
				<div class="item item-text-wrap">
					<center style="font-size: 1.5em;">
						Home Safety Tips
					</center>
				</div>
			</div>
		</a>
		<a href="http://www.wvc-ut.gov/DocumentCenter/Home/View/2192" style="text-decoration: none;">
			<div class="card">
				<div class="item item-text-wrap">
					<center style="font-size: 1.5em;">
						Operation EDITH
					</center>
				</div>
			</div>
		</a>
		<a href="http://www.wvc-ut.gov/DocumentCenter/Home/View/2195" style="text-decoration: none;">
			<div class="card">
				<div class="item item-text-wrap">
					<center style="font-size: 1.5em;">
						Smoke Detector Information
					</center>
				</div>
			</div>
		</a>
		<a href="http://www.wvc-ut.gov/DocumentCenter/Home/View/2198" style="text-decoration: none;">
			<div class="card">
				<div class="item item-text-wrap">
					<center style="font-size: 1.5em;">
						Space Heater Safety Information
					</center>
				</div>
			</div>
		</a>
		<a href="http://www.wvc-ut.gov/DocumentCenter/Home/View/2197" style="text-decoration: none;">
			<div class="card">
				<div class="item item-text-wrap">
					<center style="font-size: 1.5em;">
						Carbon Monoxide Information
					</center>
				</div>
			</div>
		</a>
	</ion-content>
</ion-view>
